* {
  box-sizing: border-box;
}

html, body {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

ul{
  list-style-type: none;
}

a{
  display: block;
  width: inherit;
  height: inherit;
}

#logo {
  height: 30px;
  position: relative;
  top: 4px;
}

#menu-checkbox {
  display: none;
}

#header {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 50px;
  background-color: #eeeeee;
  border-bottom: 2px solid #bdbdbd;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#menu {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 101;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #eeeeee;
  color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  padding: 10px;
  border-right: 2px solid #bdbdbd;
}

#menu-btn {
  background-color: transparent;
  border: none;
  color: #222;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  left: -8px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  margin-top: 60px;
}

#items {
  width: 100%;
  margin: 0;
  padding: 20px;
}
#items li {
  list-style-type: none;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  min-height: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
}

#menu-checkbox:checked ~ #overlay {
  display: block;
}
#menu-checkbox:checked ~ #menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#menu-checkbox:checked ~ #header #three-lines {
  position: relative;
  left: -3px;
}
